 body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: white;
  }

  .container {
    /* background-color: #ccc;  */
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px 30px;
    display: inline-block;
    width: 280px;
    text-align: center;
  }

  .red, .green, .yellow {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
  }

  .green {
    background-color: #2f7e2f;
  }

  .yellow {
    background-color: #f8f54a;
  }

  .red {
    background-color: #e3311d;
  }